[data-css="tve-u-1726b5a2aa7"] {
    float: none;
    max-width: 1082px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5px !important;
  }
  .thrv_wrapper div {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  .thrv_wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px;
  }
.cov,
.covall,
#loadingVideo,
#cfs {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
#cfs {
  background-image: url(click-sound-d.gif);
  background-size: cover;
  z-index: 25;
  display: none;
}
.cov {
  opacity: 94%;
  background-image: url(video-cover.png);
  background-size: cover;
  z-index: 20 !important;
  display: none;
}
.covall {
  z-index: 10 !important;
}
.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.responsive-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}